<div class="h-14 bg-slate-500 text-slate-50 flex justify-center gap-4 items-center">
<a class='underline ' href="/">Home</a>
<a class='underline ' href="/posts">Posts</a>
<a class='underline ' href="/keystatic">Admin</a>
</div>